html {
  background-color: var(--bg)
}
.heading-link {
  color: var(--hlink)
}
.reading-time {
  color: var(--textNormal)
}

blockquote {
  color: var(--textNormal);
  border-left: 0.32813rem solid var(--textNormal);
}

body {
    --bg: rgb(230, 230, 230);
    --textNormal: #222;
    --textTitle: #222;
    --textLink: #000052;
    --hr: hsla(0, 0%, 0%, 0.2);
    --hlink: #362066;
  
    background-color: var(--bg);
  }
  
  body.dark {
    -webkit-font-smoothing: antialiased;
  
    --bg: #0f081d;
    --textNormal: rgba(255,255,255,0.6 );
    --textTitle: white;
    --textLink: #b17acc;
    --hr: hsla(0, 0%, 100%, 0.2);
    --hlink: rgb(255, 167, 196)
  }

  .rcs-button {
    outline: none
  }